/* src/index.css */

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Sofia Pro", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --color-secondary: #595959;
  --color-resumeai-purple: #7b68ee;
  --color-resumeai-teal: #40e0d0;
  --color-resumeai-blue: #6495ed;
  --color-resumeai-yellow: #ffdb29;
  --color-fundo-pagina: #CDCDCD;
  --color-texto-claro: #e0e0e0;
  --color-texto-escuro: #333333;

  /* Cores para os toggles específicos (turquesa) */
  --color-toggle-active-bg: #40e0d0; /* Seu turquesa para o toggle ativo */
  --color-toggle-thumb: white; /* Cor do polegar do toggle */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- CORREÇÃO APLICADA AQUI --- */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
